.root {
  display: inline-block;
  margin: 24px 0 12px;
  cursor: pointer;
}
.title {
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  height: 20px;
  line-height: 20px;
  margin-right: 4px;
}
