.root {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: flex;
  width: calc(33.33% - 10px);
  margin-right: 10px;
  border-radius: 5px;
  cursor: default;
  margin-top: 16px;
  .img_wrap {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    .img {
      width: 48px;
      height: 48px;
    }
    .circle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .info {
    margin-left: 8px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 0;
    flex: 1;
    .ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .name {
      color: #333;
      margin-right: 8px;
    }
    .alias {
      color: #999;
    }
    .artists {
      color: #999;
      cursor: pointer;
    }
    .artists:hover {
      color: #8d8d8d;
    }
  }
}
.item:hover {
  background-color: #ebebeb;
}
