.root {
  display: flex;
  .img {
    width: 170px;
    height: 170px;
    border-radius: 5px;
    margin-right: 35px;
    cursor: pointer;
    position: relative;
  }
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(17px, 17px);
  }
}

.table {
  .stripe {
    background-color: #fafafa;
  }
}

.table :global(.ant-table-tbody > tr > td) {
  border-bottom: none;
}

.table :global(.ant-table-thead .ant-table-cell) {
  font-weight: 500 !important;
  border-bottom: none;
}

.info {
  cursor: pointer;
  color: var(--text-second-color);
}

.info:hover {
  cursor: pointer;
  color: var(--text-primary-color);
}
