.nav {
  padding: 23px 0 28px 30px;
  height: 22px;
}
.current {
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  position: relative;
}
.current::after {
  display: inline-block;
  content: ' ';
  width: calc(100% - 16px);
  height: 3px;
  background-color: var(--theme-background);
  position: absolute;
  bottom: -8px;
  left: 8px;
}
.base {
  font-size: 16px;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.root_wrap {
  height: calc(100% - 22px - 23px - 28px);
  overflow-y: auto;
}

.root {
  min-width: 760px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 30px 30px;
  box-sizing: border-box;
}
