.singer_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  box-sizing: border-box;
  .singer {
    margin: 15px 18px 15px 0;
    width: calc((100% - 72px) / 5);
  }
  .singer:nth-child(5n) {
    margin-right: 0;
  }
  .img_wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 5px;
      border: 1px solid #f2f2f2;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    color: #333;
    margin-top: 10px;
    .name {
      cursor: pointer;
    }
  }
}
