/* ! button */
.button :global(.ant-btn) {
  border-radius: 16px;
}
.button :global(.ant-btn-primary) {
  background-color: var(--theme-background);
}
.button :global(.ant-btn-primary):hover {
  background-color: var(--theme-background) !important;
  filter: brightness(0.95); /* 通过滤镜调整亮度 */
}
.button :global(.ant-btn-primary):disabled {
  background-color: #f5a0a0 !important;
  color: #fff !important;
  cursor: default;
  filter: brightness(0.95);
}
.button :global(.ant-btn-default) {
  color: var(--text-primary-color);
}
.button :global(.ant-btn-default):hover {
  color: var(--text-primary-color) !important;
  border-color: var(--background-third-color) !important;
  background-color: var(--background-second-color) !important;
}
.button :global(.ant-btn-default:disabled) {
  background-color: #fff !important;
  color: var(--disabled-text-color) !important;
}
.button :global(.ant-btn-default:disabled):hover {
  color: var(--disabled-text-color) !important;
  background-color: #fff !important;
}

/* ! textarea */
.textarea {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.textarea :global(.ant-input-textarea-show-count .ant-input-data-count) {
  bottom: 0;
  font-size: 12px;
  right: 10px;
  color: #e5e5e5;
}

/* ! pagination */
.pagination :global(.ant-pagination-item a) {
  color: #666 !important;
}
.pagination :global(.ant-pagination-item-active a) {
  color: #fff !important;
}
.pagination :global(li) {
  border: 1px solid #e5e5e5 !important;
  margin: 0 1.5px !important;
}
.pagination :global(.ant-pagination-item-active) {
  border-color: transparent !important;
  background-color: var(--theme-background) !important;
}
.pagination :global(.ant-pagination-prev button) {
  color: #666 !important;
}
.pagination :global(.ant-pagination-disabled .ant-pagination-item-link) {
  color: rgba(0, 0, 0, 0.25) !important;
}
.pagination :global(.ant-pagination-disabled:hover .ant-pagination-item-link) {
  color: rgba(0, 0, 0, 0.25) !important;
}
.pagination :global(.ant-pagination-next button) {
  color: #666 !important;
}
.pagination :global(.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon) {
  color: var(--theme-background) !important;
}
.pagination :global(.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon) {
  color: var(--theme-background) !important;
}
