.more {
  width: 130px;
  height: 30px;
  border: 1px solid var(--background-third-color);
  font-size: 14px;
  color: var(--text-primary-color);
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px auto 50px;
}
.commentAction {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
