.root {
  padding: 30px 30px 0;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  .title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 900;
  }
}

.pvpover_tags {
  width: 500px;
  height: 500px;
  font-size: 12px;
  .header {
    height: 55px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .otherTagBox {
    display: inline-block;
    width: 100px;
    height: 40px;
  }

  .tag {
    font-size: 14px;
    padding: 7px 12px 10px;
    border-radius: 24px;
    cursor: pointer;
    color: var(--text-second-color);
  }
  .tag:hover {
    color: var(--text-primary-color);
  }
  .tag_checked {
    cursor: pointer;
    font-size: 14px;
    padding: 7px 12px 10px;
    border-radius: 24px;
    color: var(--theme-background);
    background-color: var(--theme-background-hover) !important;
  }
  .hot {
    font-size: 20px;
    color: var(--theme-background);
    display: inline-block;
    transform: scale(0.4);
    font-weight: 700;
    position: absolute;
    top: -2px;
    right: -18px;
  }
}
